body{
color:rgb(117, 0, 163);
background: black;
margin: 0px;
font-family: "Danfo", sans-serif;
margin-bottom: 100px;
}

header{
border-bottom: solid 2px rgb(120, 0, 189);
padding: 20px;
font-size: 32px;
color: rgb(117, 0, 163);

}

.chamada{
    background: rgb(32, 14, 51);
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}


 .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }

 .categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px                    ;
 }

 .categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 3.0;
    border: 1px solid  rgb(120, 0, 189);
}